<main class="dashboard">
  <nav class="dashboard-navbar">
    <%= link_to '', root_path, class: 'dashboard-logo' %>
    <%= link_to 'dashboard' %>
  </nav>
  <div class="dashboard-powerbi">
    <main class='security'>
      <p class='security-title'>
        Sua insígnia foi redefinida
      </p>
      <p class='security-subtitle'>
        Em breve você receberá um email com a sua nova insígnia e um link para a sua dashboard.
      </p>
    </main>
  </div>
  <footer class="dashboard-footer">
    &copy; 2019 Filterfeed Inc. All Rights Reserved
  </footer>
</main>
