<section class='cobertura'>
  <a class="anchor" id="cobertura"></a>
  <div id='cobertura-powerbi'>
    <iframe src='https://app.powerbi.com/view?r=<%= @graph.present? ? @graph.product : '' %>' frameborder='0' allowFullScreen='true'></iframe>
  </div>
</section>
