<main class="dashboard">
  <div class="dashboard-powerbi">
    <iframe src="https://app.powerbi.com/view?r=<%= @url_encoded %>" frameborder="0" allowFullScreen="true"></iframe>
  </div>
</main>

<%= javascript_include_tag "dashboard.js" %>
