<section class="menu cid-rHh2i5JPMX" once="menu" id="menu1-10">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <%= link_to root_path do %>
                        <%= image_tag "filterfeed.png", alt: "Filterfeed", style: "height: 3.8rem;" %>
                    <% end %>
                </span>
                
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-success display-4" href="page2.html#content3-1g">
                        
                        Introdução</a>
                </li><li class="nav-item"><a class="nav-link link text-success display-4" href="page2.html#timeline1-1o">
                        
                        Programação<br></a></li><li class="nav-item"><a class="nav-link link text-success display-4" href="page2.html#services2-1t">
                        
                        Pacote</a></li><li class="nav-item"><a class="nav-link link text-success display-4" href="page2.html#features1-1y">
                        
                        Pagamento</a></li><li class="nav-item"><a class="nav-link link text-success display-4" href="page2.html#form4-20">
                        
                        Local</a></li><li class="nav-item"><a class="nav-link link text-success display-4" href="page2.html#form4-20">
                        
                        Inscrição</a></li></ul>
            
        </div>
    </nav>
</section>

<section class="header1 cid-rHhr9pPOad" data-bg-video="https://www.youtube.com/watch?v=36YgDDJ7XSc" id="header1-21">

    

    <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(255, 255, 255);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
                    Aprenda #RelGov4.0</h1>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">E faça parte da <strong>nova geração</strong> de profissionais do setor</h3>
                
                
            </div>
        </div>
    </div>

</section>

<section class="mbr-section article content3 cid-rHh8sD7Naw" id="content3-1g">
      
     

    <div class="container">
        <div class="media-container-row">
            <div class="row col-12 col-md-12">
                <div class="col-12 mbr-text mbr-fonts-style col-md-6 display-5">
                     <p>A <strong>revolução dos dados</strong> e as <strong>pressões por compliance</strong>&nbsp;constituem a filosofia que chamamos de #RelGov4.0. Esse modelo envolve o uso intensivo de <strong>tecnologia</strong>&nbsp; associado ao <strong>potencial</strong> técnico <strong>humano</strong>.</p>
                </div>
                <div class="col-12 mbr-text mbr-fonts-style display-5 col-md-6">
                     <p><span style="font-size: 1.5rem;">Nesse sentido, a Filterfeed estruturou um programa com <strong>conhecimentos, habilidades e experiências</strong> indispensáveis no dia-a-dia desse novo profissional, que também estamos ajudando a construir.</span></p>
                </div>
                
            </div>
        </div>
    </div>
</section>

<section class="timeline1 cid-rHhcS4TuVd" id="timeline1-1o">

    

    

    <div class="container align-center">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">
            Programação</h2>
        

        <div class="container timelines-container" mbri-timelines="">
            <!--1-->
            <div class="row timeline-element reverse separline">
                 <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-5">
                            6 de dezembro<br>19h às 21h</p>
                    </div>
                </div>
           <span class="iconBackground"></span>
            <div class="col-xs-12 col-md-6 align-right">
                <div class="timeline-text-content">
                    <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                        Sexta-feira</h4>
                    <p class="mbr-timeline-text mbr-fonts-style display-7"><strong>Redação Oficial - </strong>O texto bem escrito<br><strong>Instituições Políticas - </strong>Quem decide regula o setor<br><strong>Process Tracing - </strong>Quem influencia a norma<br><strong>Processo Legislativo - </strong>Os atores decisivos<br><strong>Análise Regulatória - </strong>A norma em argumentos</p>
                 </div>
            </div>
            </div>
            <!--2-->
            <div class="row timeline-element ">
                <div class="timeline-date-panel col-xs-12 col-md-6 align-right">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-5">
                            7 de dezembro<br>9h30 às 12h30</p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            Sábado</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7"><strong>Dados - </strong>Organização e tratamento<br><strong>Produtos -</strong>&nbsp;Processos, produtos e cases<br><strong>Estratégias -</strong> Inteligência em movimento</p>
                    </div>
                </div>
            </div>
            <!--3-->
            
            <!--4-->
            
            <!--5-->
            
            <!--6-->
            
            <!--7-->
            
            <!--8-->
            
            <!--9-->
            
            <!--10-->
            
            <!--11-->
            
            <!--12-->
            
        </div>
    </div>
</section>

<section class="countdown1 cid-rHhoEu0A19" id="countdown1-1z">
    
    
    
    <div class="container ">
        
        
        
    </div>
    <div class="container countdown-cont align-center">
        <div class="daysCountdown" title="Dias"></div>
        <div class="hoursCountdown" title="Horas"></div> 
        <div class="minutesCountdown" title="Minutos"></div> 
        <div class="secondsCountdown" title="Segundos"></div>
        <div class="countdown pt-5 mt-2" data-due-date="2019/12/06"> 
        </div>
    </div>
</section>

<section class="services2 cid-rHhfNozVr5" id="services2-1t">
    <!---->
    
    <!---->
    <!--Overlay-->
    
    <!--Container-->
    <div class="container">
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure" style="width: 50%;">
                    <%= image_tag "dashboard-1-506x333.png", alt: "Filterfeed" %>
                </div>
                <div class="align-left aside-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-2">Pacote de Inscrição</h2>
                    <div class="mbr-section-text">
                        <p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7"><strong>Certificado de participação</strong> de 6 horas complementares<br><strong>Ebook inédito </strong>com conteúdo e indicações bibliográficas<br><strong>Acesso a network</strong> da Filterfeed para recomendação de vagas<br><strong>Recomendações</strong> públicas para participantes destaques<br><strong>Coffee break</strong> e <strong>material de apoio</strong><br></p>
                        <p class="mbr-text text2 pt-4 mbr-light mbr-fonts-style display-2">R$290 <span class="cost">R$390</span>
                        </p>
                    </div>
                    <!--Btn-->
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features1 cid-rHhkjV2uTp" id="features1-1y">
    
    

    
    <div class="container">
        <div class="media-container-row">

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-touch" style="color: rgb(107, 59, 198); fill: rgb(107, 59, 198);"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Transferência</h4>
                    <p class="mbr-text mbr-fonts-style display-7">Pague à vista, <br>com desconto de 15%</p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-file" style="color: rgb(107, 59, 198); fill: rgb(107, 59, 198);"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Boleto</h4>
                    <p class="mbr-text mbr-fonts-style display-7">Pague à vista,<br>com desconto de 15%</p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <a href="http://bit.ly/2NDG5XL"><span class="mbr-iconfont mbri-credit-card" style="color: rgb(107, 59, 198); fill: rgb(107, 59, 198);"></span></a>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">
                        Cartão de Crédito</h4>
                    <p class="mbr-text mbr-fonts-style display-7">Clique e parcele o pacote em até 10x,<br>pelo valor promocional</p>
                </div>
            </div>

            

        </div>

    </div>

</section>

<section class="mbr-section form4 cid-rHhq4yFoQp" id="form4-20">

    

    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="google-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3839.240442469246!2d-47.88532168547785!3d-15.791270827084194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3b3c2a6e99f3%3A0x82609d19eae687e1!2sConjunto%20Nacional%20Brasilia!5e0!3m2!1spt-BR!2sbr!4v1574439217409!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
            </div>
            <div class="col-md-6">
                <h2 class="pb-3 align-left mbr-fonts-style display-2">Entre em contato</h2>
                <div>
                    <div class="icon-block pb-3 align-left">
                        
                        <h4 class="icon-block__title align-left mbr-fonts-style display-5">Peça inscrição,<br>indique a forma de pagamento<br>e tire dúvidas</h4>
                    </div>
                    <div class="icon-contacts pb-3">
                        <h5 class="align-left mbr-fonts-style display-7">CNJ Lab, Conjunto Nacional, 2º piso</h5>
                        <p class="mbr-text align-left mbr-fonts-style display-7">falecom@filterfeed.com.br</p>
                    </div>
                </div>
                <div data-form-type="formoid">
                    <%= render partial: "contacts/new", locals: {curso: true, contact: @contact, url: contacts_path, method: :post} %>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cid-rHh2ic1E0D" id="social-buttons2-16">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="col-md-8 align-center">
                
                <div class="social-list pl-0 mb-0">
                    <a href="http://bit.ly/2YUuGpJ" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-linkedin socicon"></span>
                    </a>
                    <a href="http://bit.ly/2SkUkkR" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                    </a>
                    <a href="http://bit.ly/2YYujug" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                    </a>
                    <a href="https://www.youtube.com/c/mobirise" target="_blank">
                        
                    </a>
                    <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                        
                    </a>
                    <a href="https://www.behance.net/Mobirise" target="_blank">
                        
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section once="footers" class="cid-rHh2icPN2z" id="footer6-17">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7"><strong>+55 (61) 3247-5640</strong><br>© Copyright 2019 Filterfeed<br></p>
            </div>
        </div>
    </div>
</section>
